.article
	display block
	background-color #fff
	margin-bottom 20px
	&__wrap
		display flex
		justify-content space-between
	&__pic-wrap
		width 100%
		max-width 440px
		max-height 440px
		overflow hidden
	&__img
		width 100%
		height auto
	&__text
		margin-top 18px
		margin-bottom 2px
		width 100%
		max-width 370px
		font-size 17px
		line-height 25px
		letter-spacing -.2px
	&__text-wrap
		margin-top 103px
		padding-right 35px
		width 100%
		max-width 410px
