include /blocks/section-title/section-title
include /blocks/review-item/review-item
include /blocks/button/button

mixin reviews()
	+b('section').reviews&attributes(attributes)
		+e.wrap
			+section-title('Отзывы о Барселоне')
			+e.slider-wrap
				+e.slider-inner-wrap.js-slide
					+review-item('Наталия Полянская', 'Барселона – моя третья большая любовь, после Вены и Крита. Это город, в который я каждый раз возвращаюсь с огромным удовольствием, всем рекомендую хоть раз там побывать и осмотреть ...', 'около 1 года назад', '9 комментариев', '9', 'gallery1', '1')
					+review-item('Elena Bulgakova', 'Плюсы города: весь город одни плюсы! Минусы города: не видела. В наш марафон по Европе не вписалось 2 испанских города от усталости - решили остаток путешествия провести в Барселоне ...', '5 месяцев назад', '3 комментария', '7', 'gallery2', '2')
					+review-item('Наталия Полянская', 'Барселона – моя третья любовь, после Вены и Кр Это город, в который я каждый возвращаюсь с огромным удовольствием, всем рекомендую хоть раз там побывать и осмотре', 'около 1 года назад', '9 комментариев', '9', 'gallery3', '3')
					+review-item('Elena Bulgakova', 'Плюсы города: весь город одни плюсы! Минусы города: не видела. В наш марафон по 2 испанских города от усталости - решили остаток путешествия провести в Барселоне ...', '5 месяцев назад', '3 комментария', '7', 'gallery4', '4')
					+review-item('Наталия Полянская', 'Барселона – моя третья большая любовь, после Вены и Крита. Это город, в который я каждый раз возвращаюсь с огромным удовольствием, всем рекомендую хоть раз там побывать и осмотреть ...', 'около 1 года назад', '9 комментариев', '9', 'gallery5', '5')
					+review-item('Elena Bulgakova', 'Плюсы города: весь город одни плюсы! Минусы города: не видела. В наш марафон по 2 испанских города от усталости - решили остаток путешествия провести в Барселоне ...', '5 месяцев назад', '3 комментария', '7', 'gallery6', '6')
			+e.bottom
				+e.btn-wrap
					+button('button', 'Все отзывы')
				+e.slider-dots
					+e('button').dot.js-pagination.active(data-slide='1')
					+e('button').dot.js-pagination(data-slide='2')
					+e('button').dot.js-pagination(data-slide='3')
					+e('button').dot.js-pagination(data-slide='4')
					+e('button').dot.js-pagination(data-slide='5')
					+e('button').dot.js-pagination(data-slide='6')